<div class="panel panel-warning text-center">
    <div class="panel-heading" style="font-size:x-large">
        Acme Product Management
    </div>
    <img src="images/filmhunterlogo.png" style="margin:20px" />
    <div class="panel-body">
        <div class="col-md-offset-3 col-md-3">
            <div>Developed by:</div>
            <h3>Deborah Kurata</h3>

            <div>deborahk@insteptech.com</div>
            <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
        </div>
        <div class="col-md-3">
            <div>Art work by:</div>
            <h3>Krysta Kurata</h3>
            <a href="http://krysta-kurata.squarespace.com/">krysta-kurata.squarespace.com/</a>
        </div>
    </div>
    <div class="row">
        <div ng-if="currentUser">Welcome, {{ currentUser.id }}</div>

		<div ng-repeat="role in currentUser.role">
			<div ng-show="role == userRoles.admin">You're admin</div>
			<div ng-show="role == userRoles.editor">You're editor</div>
		</div>

		<div >You're annon</div>
    </div>
</div>
